body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 100%;
}
.App
{
	background-color: rgba(0,0,0,.9);
	color: #fff;
}
/************** Header ******************/
.header
{
	width: 100%;
	text-align: left;
}
.header span
{
	color: #fff;
	font-size: 1.2em;
}
.stopwatch,
.totalpoint
{
	font-size: .67em;
	font-weight: bold;
	color: #4a4b4b;
	letter-spacing: 1.2px;
	/*text-shadow: 0px 1px #fff;*/
}
.stopwatch
{
	background-color: #252626;
	padding-bottom: 10px;
}
.totalpoint
{
	padding-top: 15px;
}
.stop-btn,
.reset-btn
{
	font-weight: bold;
	letter-spacing: 1.2px;
	padding: 5px;
	border-radius: 6px;
	margin: 0 .5%;
	color: #4a4b4b;
}
.stop-btn:hover,
.reset-btn:hover
{
	background-color: #124567;
	color: #fff;
	cursor: pointer;
}


@media all and (min-width: 769px)
{
	.App
	{
		width: 50%;
		margin: 0 auto;
		border-radius: 5px;
	}
	.header
	{
		margin: 0px 2%;
	}
	.totalpoint,
	.header h1,
	.stopwatch
	{
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}
	.totalpoint,
	.stopwatch
	{
		width: 25%;
	}
	.header h1
	{
		width: 48%;
		margin-top: 40px;
		font-size: 1.6em;
		letter-spacing: 1.2px;
	}

}
@media all and (max-width: 768px)
{
	.App
	{
		padding: 5px 0;
	}
	.stopwatch
	{
		padding: 5px;
	}
	.header
	{
		text-align: center;
	}
}

/************** container for each player ******************/

.player-container
{
	background-color: #252626;
	clear: both;
	display: block;
}

.player_score button
{
	color: #fff;
	border: none;
	display: inline-block;
	font-weight: bolder;
	font-size: 1.2em;
	margin-bottom: 5px;
}
.player_score button:hover
{
	cursor: pointer;
}

.player_score button:first-child
{
	background-color: #e8ae52;
}
.player_score button:last-child
{
	background-color: #124567;
}

@media all and (min-width: 769px)
{
	.player-container
	{
		padding: 10px 5px 2%;
		border: 1px solid #252626;
		margin: 5px 0;
	}

	.player > div
	{
		padding: 0 1%;
	}
	.player > div:first-child
	{
		float: left;
		width: 60%;
	}

	.player > div:last-child
	{
		float: right;
		width: 30%;
		text-align: right;

	}
	.player_score span
	{
		margin: 0 4%;
	}
	.player-container::after
	{
		content: " ";
		display: inline-block;
		clear: both;
	}

}

@media all and (max-width: 768px)
{
	.player-container
	{
		padding: 10px 0 0px 2%;
		margin-bottom: 5px;

	}
	.player > div
	{
		display: inline-block;
	}
	.player > div:first-child
	{
		width: 60%;
	}
	.player > div:last-child
	{
		width: 30%;
		text-align: right;
	}
	.player_score span
	{
		margin: 0 4%;
	}
}

/************** form ******************/