*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 100%;
  background-color: rgba(0,0,0,.9);
}
.App
{
	background-color: rgba(0,0,0,.9);
	color: #fff;

}
@media all and (min-width: 769px)
{
	.App
	{
		width: 70%;
		margin: 0 auto;
		border-radius: 5px;
	}
}

@media all and (min-width: 900px)
{
	.App
	{
		width: 80%;
	}
}

@media all and (min-width: 1200px)
{
	.App
	{
		width: 60%;
	}
}
/************** Navigation ******************/
.nav
{
	background-color: #124567;
}
.nav ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav li,
.nav li a
{
	display: block;
	height: 30px;
	line-height: 30px;
}
.nav li
{
	display: inline-block;
	vertical-align: top;
	border-right: 2px solid #1a4059;
	text-align: center;
	width: 30%;
}

.nav li:last-child
{
	border-right: none;
}

.nav a,
.nav a:active,
.nav a:visited
{
	color: #f5f5f5;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 2px 2%;
}

.nav li .active
{
	background-color: #252626;
}
.nav li:hover,
.nav li:focus
{
	background-color: #1a4059;
	outline: none;
}

@media all and (max-width: 768px)
 {
	.nav li a
	{
		font-size: .89em;
	}
 }
@media all and (min-width: 769px)
 {
 	body {
 		margin-top: 20px;
 	}
 }
/************** Header ******************/
.header
{
	width: 100%;
	text-align: left;
}
.header span
{
	color: #fff;
}

.header h1
{
	font-size: 1.2em;
	letter-spacing: 1.2px;
}

.stopwatch,
.totalpoint
{
	font-weight: bold;
	color: #4a4b4b;
	letter-spacing: 1.2px;
}

.stopwatch
{
	background-color: #252626;
}

.stop-btn,
.reset-btn
{
	font-weight: bold;
	letter-spacing: 1.2px;
	padding: 5px;
	border-radius: 6px;
	margin: 0 1%;
	color: #4a4b4b;
}
.stop-btn:hover,
.reset-btn:hover
{
	background-color: #124567;
	color: #fff;
	cursor: pointer;
}
.stop-btn:focus,
.reset-btn:focus
{
	outline: none;
}


@media all and (max-width: 768px)
{
	.header
	{
		text-align: center;
	}
	.stopwatch,
	.totalpoint
	{
		font-size: .67em;
		margin: 10px 0;
	}

	.stopwatch p,
	.totalpoint p
	{
		margin: 2%;
	}

	.stopwatch
	{
		padding: 10px 0;
		font-weight: bolder;
		margin-bottom: 20px;
	}
	.totalpoint
	{
		margin-top: 40px;
	}

}
@media all and (min-width: 769px)
{
	.stopwatch,
	.totalpoint,
	.header h1
	{
		display: inline-block;
		vertical-align: top;
		width: 33%;
		padding: 20px 0;
		text-align: center;
	}
	.stopwatch
	{
		width: 34%;
	}
	.stopwatch p,
	.totalpoint p
	{
		margin-bottom: 15px;
	}
	.stopwatch,
	.totalpoint
	{
		font-size: .76em;
	}

}

@media all and (min-width: 900px)
{
	.stopwatch,
	.totalpoint
	{
		font-size: .89em;
	}
}
@media all and (min-width: 1200px)
{
	.stopwatch,
	.totalpoint
	{
		font-size: 1.2em;
	}
}

/************** container for each player ******************/

.player-container
{
	background-color: #252626;
	clear: both;
	display: block;
}
.player:hover
{
	cursor: pointer;
}

.player
{
	margin:5px 0;
	padding: 5px 0;
}

.player_name,
.player_score
{
	display: inline-block;
	vertical-align: middle;
}
.player_name
{
	width: 70%;
	word-break: keep-all;
	word-wrap: break-word;
}
.player_score
{
	width: 30%;
}
.counter-container
{
	text-align: center;
}

.counter-container button
{
	color: #000;
	padding: 10px;
	border: none;
	box-shadow: 1px 1px 10px rgba(0,0,0, .7);
	font-weight: bolder;


}
.counter-container button:first-child
{
	background-color: #f1c16a;
}

.counter-container button:last-child
{
	background-color: #5ea5d4;
}

.counter-container span
{
	margin: 0 3%;
}

.player_score button:hover
{
	cursor: pointer;
}

.player_name span
{
	padding: 3px;
	margin: 0 1%;
	color: #ee1818;
	background-color: #fff;
	text-align: center;
	opacity: 0;
	cursor: pointer;
	font-weight: bolder;
	transition: opacity .55s ease-out;
}



@media all and (max-width: 768px)
{
	.player
	{
		font-size: .68em;
	}

	.player_name span
	{
		opacity: 1;
	}
}

@media all and (min-width: 769px)
{
	.player
	{
		font-size: .89em;
	}

	.player_name span
	{
		opacity: 0;
	}

	.player_name:hover span
	{
		opacity: 1;
	}

}

@media all and (min-width: 900px)
{
	.player
	{
		font-size: .89em;
	}
}

@media all and (min-width: 1200px)
{
	.player
	{
		font-size: 1.1em;
	}
}


/************** Add Player Form ******************/
.AddPlayerForm
{
	width: 100%;
	margin: 20px 0;
}
.AddPlayerForm form
{
	background-color: #252626;
	padding: 20px 0%;
}
.AddPlayerForm input
{
	height: 30px;
	margin: 0 2%;
	font-weight: bolder;
	border: none;
	outline: none;
	color: #333;
	padding-left: 1%;

}
.AddPlayerForm input[type="submit"]
{
	border-radius: 10px;
	background-color: #124567;
	color: #f5f5f5;
	transition: box-shadow .55s ease-in;
	
}
.AddPlayerForm input[type="submit"]:hover
{
	box-shadow: 2px 2px #f5f5f5;
}

.AddPlayerForm input[type="text"]
{
	border-radius: 5px;
	text-transform: capitalize;
}

@media all and (min-width: 769px)
{
	.AddPlayerForm input[type="text"]
	{
		width: 60%;	
	}
	.AddPlayerForm input[type="submit"]
	{
		width: 20%; 
		cursor: pointer;	
	}
}
@media all and (max-width: 768px)
{
	.AddPlayerForm input[type="text"]
	{
		width: 60%;	
	}
	.AddPlayerForm input[type="submit"]
	{
		width: 30%; 	
	}
}

/************** About  and source code page ******************/

.about,
.sourcecode
{
	background-color: #252626;	
	padding: 10px;
	line-height: 1.5em;
}
.about h2,
.sourcecode h2
{
	border-bottom: 2px solid #f5f5f5;
	padding-bottom: 5px;
}
@media all and (max-width: 768px)
{
	.about h2
	{
		font-size: 1em;
	}
}